html {
    _overflow:hidden;
}
body {
    _height:100%;
    _overflow:hidden;
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: inherit;
     font-style: inherit;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline;

}

div#main {
    margin-left:200px; /* ナビゲーションボックスの幅の分マージンを取る */
    height:100%;
    _overflow:auto;
}
div#navi {
    width:200px;
    height:100%;
    position:fixed;
    _position:absolute;
    top:0px;
    left:0px;
    background-color:#F0F8FF;
    color:black;
}

#menu ul,#menu li {
      margin:0;
      padding:0;
}
#menu li {
      list-style:none;
      width:160px;
      clear:both;
}
#menu a {
      display:block;
      margin:0 auto;
      color:#fff;
      text-decoration:none;
      background:url(_right.png) right top no-repeat;
}

#menu a span {
      display:block;
      text-align:left;
      background:url(_left.png) left top no-repeat;
      font:bold 12px/30px Arial, Helvetica, sans-serif;
      padding:0 20px;
}

#menu a:hover {
      background-position:right bottom;
      text-decoration:underline
}
#menu a:hover span {
      background-position:left bottom;
}
