html {
    _overflow:hidden;
}
body {
    _height:100%;
    _overflow:hidden;
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: inherit;
     font-style: inherit;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline;
}

p.class1 {
	 font-style:italic;
}
p.class2 {
	 font-style:italic;
	 color:red;
	 text-decoration:underline;
}
table.class1 {
	     font-size:30px;
}

div#main {
/*    margin-left:150px; ナビゲーションボックスの幅の分マージンを取る */
    height:100%;
    width:100%;
    _overflow:auto;
    position:fixed;
    background-color:#8FBC8F;
}
div#navi {
    width:150px;
    height:100%;
    position:fixed;
    _position:absolute;
    top:0px;
    right:0px;
    background-color:#F0F8FF;
    color:black;
}
div#destination {
		font-size:50px;
		font-style:italic;
}
#menu ul,#menu li {
      margin:0;
      padding:0;
}
#menu li {
      list-style:none;
      width:160px;
      clear:both;
}
#menu a {
      display:block;
      margin:0 auto;
      color:#fff;
      text-decoration:none;
      background:url(_right.png) right top no-repeat;
}

#menu a span {
      display:block;
      text-align:left;
      background:url(_left.png) left top no-repeat;
      font:bold 12px/30px Arial, Helvetica, sans-serif;
      padding:0 20px;
}

#menu a:hover {
      background-position:right bottom;
      text-decoration:underline
}
#menu a:hover span {
      background-position:left bottom;
}
